.estado-envio-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  max-height: 800px;
  overflow-y: auto;
}

.estado-envio {
  border: 1px solid #ddd;
  padding: 90px;
  font-size: larger;
  height: 370px;
  width: 350px; /* Ancho fijo para cada tarjeta */
  border-radius: 8px;
  text-align: center;
  font-family: Arial, sans-serif;
}

.estado-envio-titulo {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 5px;
}

.estado-envio-subtitulo {
  font-size: 0.9em;
  color: #666;
  margin-bottom: 15px;
}

.estado-envio-icono {
  margin-bottom: 15px;
}

.estado-envio-boton {
  background-color: #f8f9fa;
  border: 1px solid #ddd;
  border-radius: 20px;
  padding: 5px 15px;
  font-weight: bold;
  margin-bottom: 15px;
  cursor: default;
}

.estado-envio-select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 0.9em;
}
